@import "./variables";
.App {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: #ebedef;
  min-height: 100%;
  flex-direction: column;
}

.App__content {
  display: flex;
  background-color: #f5f6f8;
  box-shadow: 0 0 20px 10px #d2d2d2;
  padding: (16px + $headerHeight) 16px 16px 16px;
  width: 70%;
  flex-grow: 1;
}

