.AppLink {
  transition: all 0.2s;
  text-decoration: none;
  cursor: pointer;
}
@import "./variables";

.AppLink--blue {
  $color: $blue2;
  color: $color;
  &:visited {
    color: $color;
  }
  &:hover {
    color: $yellow;
  }
  &:focus {
    color: $yellow;
    outline: 1px dotted $color;
  }
}

.AppLink--white {
  $color: white;
  color: $color;
  &:visited {
    color: $color;
  }
  &:hover {
    color: $yellow;
  }

  &:focus {
    color: $yellow;
    outline: 1px dotted white;
  }
}
