.AppLink {
  transition: all 0.2s;
  text-decoration: none;
}

.AppLink--blue {
  $color: #3270c9;
  color: $color;
  &:visited {
    color: $color;
  }
  &:hover {
    color: #7b9ecd;
  }
}

.AppLink--white {
  $color: white;
  color: $color;
  &:visited {
    color: $color;
  }
  &:hover {
    color: #adbedb;
  }
}
