.AppLink {
  transition: all 0.2s;
  text-decoration: none;
  cursor: pointer;
}

$red: D00000;
$prussianBlue: #1C3144;
$selectiveYellow: #FFBA08;
$cadetBlueCrayola: #A2AEBB;
$greenBueCrayola: #3F88C8;

.AppLink--blue {
  $color: $greenBueCrayola;
  color: $color;
  &:visited {
    color: $color;
  }
  &:hover {
    color: $selectiveYellow;
  }
  &:focus {
    color: $selectiveYellow;
    outline: 1px dotted $color;
  }
}

.AppLink--white {
  $color: white;
  color: $color;
  &:visited {
    color: $color;
  }
  &:hover {
    color: $selectiveYellow;
  }

  &:focus {
    color: $selectiveYellow;
    outline: 1px dotted white;
  }
}
