@import "variables";

.ArticleSummary {
  display: flex;
  width: 100%;

  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid $grey1;
  flex: 1;
  flex-direction: column;

  &__author {
    color: $grey3;
  }

  &__title {
    margin-bottom: 0.2rem;
  }

  &__publication_time {
    color: $grey3;
  }

  &__last_modification_time {
    color: $grey3;
  }

  &__content {
    margin-top: 1rem;
  }
}
