.Header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: #53719a;
  color: white;
}

.Header__nav {
  display: flex;
  justify-content: space-between;
}

.Header__left-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Header__right-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Header__navListElement {

}
