.ProfilePage {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  &__label {
    display: flex;
    flex-wrap: nowrap;
    width: 8rem;
    white-space: nowrap;
  }
  &__value {
    margin-left: 1rem;
  }
}
